*:not(nav){
    box-sizing: border-box;
}
a{
    color: #8338ec;
}
h2{
   text-align: center;
}
.blink{
    animation-name: blinking;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.onRight{
    text-align: right;
}
.imageBox{
    display: flex;
    justify-content: center;
}
.finalImage{
    border: 2px solid white;
    background-color: #8338ec;
    border-radius: 300px;
    width: 250px;
}
@keyframes blinking{
    50%{
        opacity: 0;
    }
}
b{
    font-style: italic;
}