* :not(.navigation){
    box-sizing: border-box;
}
a{
    color: white;
}
h2{
   text-align: center;
}
.bigQuestions{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.25em;
}
.blink{
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
/* For the skills part*/
#skillsContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.skill{
    margin: 0;
    width: 430px;
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 15px #833ec8;
    border-radius: 10px;
}

@keyframes blinking{
    50%{
        opacity: 0;
    }
}

@media screen and (max-width:800px) {
    .bigQuestions{
        justify-content: space-evenly;
        column-gap: 15px;
    }
}
