
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.social{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.social div{
    width: 400px;
    text-align: center;
}
.social img:hover{
    opacity: 0.8;
}
.gmail img{
    width: 80%;
}
.instagram img{
    width: 55%;
}
.facebook img{
    width: 70%;
}
.linkedin img{
    width: 75%;
}