.mainTitle{
    text-align: center;
    font-size: 80px;
}

.introduction{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.introduction hgroup{
    text-align: center;
}

#NextToAtributtes{
    width: 40px;
}
#personalPhoto{
    width: 300px;
    border-radius: 150px;
    background-color: #8338ec;
    border: 2px solid white;
}
.blink{
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.slow{
    animation-duration: 2s;
}
.quotesNButton{
    padding: 0px;
    padding-top: 60px;
}

.portifolioNAbout{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 15px;
}
.portifolioNAbout button{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    padding: 18px 40px;
}
#portifolioButton{
    background-color: #8338ec;
}
@keyframes blinking {
    50%{
        opacity: 0;
    }
}
.quotesNButton p{
    font-size: 24px;
    padding: 0px 15px;
    padding-bottom: 0px;
    padding-top: 25px;
}

.quotesNButton #author{
    display: block;
    text-align: right;
}