/* Projects Heading*/
a{
    color: white;
    text-decoration: none;
}
a:hover{
    opacity: 0.8;
}
.skillsTitleLogo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.skillsTitle{
    text-align: center;
    font-size: 2em;
}
.Logo{
    width: 120px;
    margin-left: 10px;
}

/* Specific logo and title*/
#javaTitle{
    font-size: 2.1em;
}
#JAVA-LOGO{
    width: auto;
    height: 100px;
    margin-left: 0px;
}
#DATABASE-LOGO1{
    align-self: center;
    height: 95px;
    width: auto;
}

/*Projects boxes*/
.skills{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;
}
.myProjects{
    border: 3px solid #8338ec;
    height: 300px;
    width: 250px;
    margin: 15px;
    border-radius: 15px;
}
.myProjects img{
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    margin-bottom: 0px;
}
.myProjects p{
    margin: 5px;
    text-align: left;
}
.projectTitle{
    text-align: center;
}
.projectDescription{
    font-size:0.85em;
    padding: 0px 10px;
}
/* Html Projects*/
#HtmlCSS01{
    border-color: #8338ec;
}
#HTML01Description{
     margin-top: 30px;
}
#HtmlCSS02{
    border-color: #061130;
}
#HtmlCSSJS03{
    border-color: #d4a391;
}
#HtmlCSSJS04{
    border-color: yellow;
}

/*Javascript Projects*/
#HtmlJS01{
    border-color:#0077b6;
}
#HtmlJS02{
    border-color:#774936;
}
#HtmlJS02Description, #HtmlJS03Description{
    margin-top: 0px;
}
#HtmlJS03{
    border-color:#8338ec;
}
#HtmlJS02 .projectTitle, #HtmlJS03 .projectTitle{
    margin-bottom: 8px;
}
#HtmlJS04{
    border-color: #061130;
}
#HtmlJS04 .projectTitle{
    margin-bottom: 10px;
}

/*Iteractive CSS*/
@media screen and (max-width: 918px){
    .skills{
        justify-content: space-around;
    }
}